<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470165331852-rb3ijb79ee7emdjfsv5jn2npp1rgvcl0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470165331852-rb3ijb79ee7emdjfsv5jn2npp1rgvcl0</string>
	<key>API_KEY</key>
	<string>AIzaSyB2t-u6xwii1EOeGqHokL-4diobuSSdAC8</string>
	<key>GCM_SENDER_ID</key>
	<string>470165331852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myProyect</string>
	<key>PROJECT_ID</key>
	<string>my-proyect-b2d79</string>
	<key>STORAGE_BUCKET</key>
	<string>my-proyect-b2d79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470165331852:ios:57b6f54e6df562780b80a9</string>
</dict>
</plist>